#searchSection{
	
	height: 500px;
	width: 300px;
	margin-top: 200px;
	margin:0px auto;
	padding-top: 150px;
	
}

#searchIcon{
	margin-left: 70px;
}
#random{
	margin-left: 40px;
}
.res{
  padding:5px;
  color: #000000;  
}
